.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  /* link que ainda não foi visitado */
a:link {
  color:white;
}

/* link que foi visitado */
a:visited {
   color:white;
}

/* mouse over */
a:hover {
   color: white;
}

/* link selecionado */
a:active {
   color:white;
}