<app-layout>
    <div class="container">

        <div class="row">
           
            <div class="col-md-2 details" *ngIf="userClaims">
                <blockquote>
                    <h5>qualquer coisa</h5>
                    <small><cite title="Source Title">Unaí - MG, Brazil<i class="icon-map-marker"></i></cite></small>
                </blockquote>
                <p>
                    edu.wp@outlook.com <br>
                    localhost:4200 <br>
                    03/03/1998
                </p>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-3">
                <div class="card-counter primary">
                    <i class="fa fa-users" ng-href="/usuarios"></i>
                    <span class="count-numbers">12</span>
                    <a class="count-name text-light" href="/usuarios">Usuarios</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter danger">
                    <i class="fa fa-university"></i>
                    <span class="count-numbers">599</span>
                    <a class="count-name text-light" href="/faculdade">Acessos</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter success">
                    <i class="fa fa-book"></i>
                    <span class="count-numbers">6875</span>
                    <a class="count-name text-light" href="#">Numero de Posts</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter info">
                    <i class="fa fa-book-reader"></i>
                    <span class="count-numbers">35</span>
                    <a class="count-name text-light" href="#">Posts Agendados</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card-counter primary">
                    <i class="fa fa-pencil-alt"></i>
                    <span class="count-numbers">12</span>
                    <a class="count-name text-light" href="#">Posts Impulsionados</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter danger">
                    <i class="fa fa-history"></i>
                    <span class="count-numbers">599</span>
                    <a class="count-name text-light" href="/historico">Média de Curtidas</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter success">
                    <i class="fa fa-database"></i>
                    <span class="count-numbers">6875</span>
                    <a class="count-name text-light" href="/relatorio">Relatório de Crescimento</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter info">
                    <i class="fa fa-user-circle"></i>
                    <span class="count-numbers">35</span>
                    <a class="count-name text-light" href="/account">Minhas contas</a>
                    
                </div>
            </div>
        </div>
    </div>


</app-layout>